aiohttp==1.3.3
aiomysql==0.0.9
argh==0.26.2
asn1crypto==0.22.0
async-timeout==1.1.0
attrs==17.2.0
Automat==0.6.0
autopep8==1.3.2
cffi==1.10.0
chardet==2.3.0
click==6.7
constantly==15.1.0
cryptography==2.0.3
cssselect==1.0.1
defusedxml==0.5.0
Django==1.10.6
django-haystack==2.6.1
Flask==0.12.2
Flask-Login==0.4.0
hyperlink==17.3.1
idna==2.6
incremental==17.5.0
itsdangerous==0.24
jieba==0.38
Jinja2==2.9.5
lxml==3.8.0
Markdown==2.6.8
MarkupSafe==0.23
multidict==2.1.4
parsel==1.2.0
pathtools==0.1.2
pdfminer3k==1.3.1
Pillow==3.3.0
ply==3.10
py==1.4.33
pyasn1==0.3.2
pyasn1-modules==0.0.11
pycodestyle==2.3.1
pycparser==2.18
pycurl==7.43.0
PyDispatcher==2.0.5
Pygments==2.2.0
PyMySQL==0.7.10
pyOpenSSL==17.2.0
pytest==3.0.7
pytz==2016.10
PyYAML==3.12
queuelib==1.4.2
requests==2.13.0
service-identity==17.0.0
six==1.10.0
tblib==1.3.2
tornado==4.5.2
Twisted==17.5.0
u-msgpack-python==2.4.1
w3lib==1.18.0
watchdog==0.8.3
Werkzeug==0.12.2
Whoosh==2.7.4
WsgiDAV==2.2.4
yarl==0.9.8
zope.interface==4.4.2
